/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0b66e98b91b7b5066a54.json
/ex1.dSYM/Contents/Resources/DWARF/ex1
/ex1.dSYM/Contents/Resources/Relocations/x86_64/ex1.yml
/cmake-build-debug/.cmake/api/v1/reply/index-2024-06-10T12-41-12-0905.json
/ex1.dSYM/Contents/Info.plist
/cmake-build-debug/.cmake/api/v1/reply/target-OSHomeWork1-Debug-da0895fbffae38bf4fdb.json
